@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.loaderCard {
  background: linear-gradient(
    -45deg,
    #ebebeb,
    #d4d3d3,
    #f5f5f5,
    #d4d3d3,
    #ebebeb
  );
  background-size: 600% 600%;
  animation: loader 1.5s infinite;
}

@keyframes loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
